@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        


<div class="dropdown">
  
        <a class="account"><img class="media-object" src="~/Content/img/img0037.png" alt="..."></a>

      

        <div class="submenu">
            <ul class="root">
                <li><a href="@Url.Action("Index" , "Furnitures")">Редагування товарів</a></li>
                <li><a href="@Url.Action("Index" , "MenuAdmin")">Редагування категорій</a></li>
                <li><a href="@Url.Action("Index" , "Role")">Редагування ролей</a></li>

            </ul>
            <ul class="root">
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Вийти</a></li>
            </ul>
        </div>
</div>

    }
}
else
{


    <div class="header_third_column">
        <ul class="header_user ">

            <li><img class="media-object" src="~/Content/img/img0006.png" alt="..."></li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

          
        </ul>
    </div>
}


