@model FurnitureStore.Entities.Furniture
    
    
           
    <div class="image">
        @foreach (var i in Model.Images)
        {
            if (i.IsMainImage == true)
            {

                <a href="Furniture/Details/@Model.FurnitureId">
                 
                        <img src="@Url.Content(i.Path)" alt="@i.DisplayName" width="235" height="235" />
                    </a>

            }
        }
    </div>


                <div class="name_product">

                    @Html.ActionLink(@Model.Name, "Details", new { id = Model.FurnitureId } , new { @style = "color: #776655; text-decoration:none;" })
                </div>
                <div class="about">
                    <div class="about_left_column">
                        <div class="btn-group" role="group" aria-label="simple">
                            <button type="button" class="btn btn-default down">-</button>
                            <button type="button" class="btn btn-default count">2</button>
                            <button type="button" class="btn btn-default up">+</button>
                        </div>
                    </div>


                    <div class="about_right_column">
                        <div class="price"><h4>@Model.Price.ToString("# грн")</h4></div>
                    </div>
                </div>

                <button type="button" class="buy btn">В корзину</button>
           
    

